<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/src/index.css" />
    <link rel="icon" type="image/svg+xml" href="/src/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PureScript React Vite Starter</title>
  </head>
  <body>
    <div id="app"></div>

    <% if(isDev){ %>
      <script type="module" src="/src/index.dev.js"></script>
    <% } else { %>
      <script type="module" src="/src/index.prod.js"></script>
    <% } %>
  </body>
</html>
